.cont{
    margin:8vw 10vw 0 10vw;
}

.cont h2{
    font-family:'Gasoek One';
    font-size:2.4em;
    margin-bottom:80px;
}



.cardcont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 20px 0px;
    align-content: center;
}

.cardcont a{
    text-decoration:none;
}

.card {
    background:transparent;
    max-height:300px;
    width: 100%;

    border-radius:2px !important;
    border:0.1 solid !important;    

    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    max-height: 210px;
    object-fit:contain;
    transform: scale(1.03);
}

.cardcontent {
    padding: 15px;
    flex-grow: 1;
    transform: scale(1.03);
}

.cardcontent h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    margin-top: 2px;
}

.foot{
    background:#141414;
}

@media screen and (max-width: 360px){
    .cont{
        margin:10vw 8vw 0 8vw;
    }
    
    .cont h2{
        font-family:'Gasoek One';
        font-size:1.6em !important;
        margin:30px 0 40px 0 !important;
    }

    .card {
        background:transparent;
        max-height:300px;
        width: 100%;
    
        border-radius:2px !important;
        border:0.1 solid !important;    
    
        display: flex;
        overflow: hidden;
        flex-direction: column;
        transition: box-shadow 0.3s ease;
        cursor: pointer;
    }
    
    .card:hover {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    
    .card img {
        width: 100%;
        max-height: 160px;
        object-fit:contain;
        transform: scale(1.03);
    }

    .cardcont{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
        margin: 50px 0px;
        align-content: center;
    }
    
}

@media screen and (max-width: 768px) {
    .cont{
        margin:10vw 8vw;
    }
    
    .cont h2{
        font-family:'Gasoek One';
        font-size:2.1em;
        margin-bottom:60px;
    }

    .card img {
        width: 100%;
        max-height: 190px;
        object-fit:contain;
        transform: scale(1.03);
    }

}